**/target
**/fibgcc
**/fibclang
nim/fib_native*
clojure/classes/*
clojure/.shadow-cljs
ocaml/a.out
ocaml/fib.o
ocaml/fib.cm*
/asm/fib
/asm/fib.o
/clojure/classes
/clojure/main.js
/clojure/.shadow-cljs
/java/out
/exclude
**/zig-cache
**/zig-out
**/main
**/main.o
**/main.hi
/bin
